@keyframes toRight {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toLeft {
  from {
    transform: translateX(1000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toUp {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toDown {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
